/**
* CSS file to hold styles that apply across the application
*/


* {
  /* outline: 1px solid silver; */
}

html,
body {
  /* height: 100%; */
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  /* width: 100%; */
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./images/design-desk.jpeg");
  background-size: cover;
  /* min-height: 100vh; */
}
.aboutSection {
  background: url("./images/motion-background.jpg");
  /* min-height: 100vh; */
}
div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

/* p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
} */


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}


img.socialIcon {
  height: 30px;
  width: 30px;
}